<div class="title_container">
  <div class="sitesearch">
    <form>
      <input id="searchbox" type="search" placeholder="Search">
    </form>
    <ul id="searchresult"></ul>
  </div>
  <div class="maintitle"></div>
  <div class="profile">
    <a class="image" href="{{ site.baseurl }}/"></a>
    <div class="info">
      <h6 class="name">{{ site.profile_name }}</h6>
      <p class="bio">{{ site.profile_bio }}</p>
    </div>
    <div class="social">
      <a class="infoicon github" href="https://github.com/leesungbin/"></a>
      <a class="infoicon insta" href="https://www.instagram.com/__lsb9__/"></a>
      <a class="infoicon gmail" href="mailto: lsb918@gmail.com"></a>
    </div>
  </div>
</div>