$pc-view: 500px;

.title_container {
  width: 100%;
}

.maintitle {
  background-image: url("/static/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 80%;
  width: 100%;
}

// .profile_container {
//   position: relative;
//   top: -55px;
// }

.profile {
  // margin-top: -110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image {
    background-image: url("/static/img/me.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 5px 5px grey;
  }

  // .info {

  // }
  .name {
    margin: 0.3rem;
    display: flex;
    justify-content: center;
  }
  .bio {
    margin: 0.3rem;
    display: flex;
    justify-content: center;
  }
  .social {
    display: flex;
    justify-content: center;
    .infoicon {
      width: 36px;
      height: 36px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0.3rem;
      border-radius: 0.3rem;
    }
  }
}
.github {
  background-image: url("/static/img/github.png");
}
.insta {
  background-image: url("/static/img/insta.svg");
}
.gmail {
  background-image: url("/static/img/gmail.png")
}

.writer_info {
  margin-bottom: 3rem;
}

.writer {
  display: flex;
  .image {
    flex-shrink: 0;
    background-image: url("/static/img/me.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 5px 5px grey;
    border-radius: 70px;
    width: 140px;
    height: 140px;
    margin-right: 3rem;
  }
  .social {
    display: flex;
    .infoicon {
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 0.3rem;
      border-radius: 0.3rem;
    }
  }
}
@media screen and (min-width: $pc-view) { // pc
  .maintitle {
    height: 300px;
  }
  .profile {
    margin-top: -110px;

    .image {
      border-radius: 110px;
      width: 220px;
      height: 220px;
    }
    .name {
      font-size: 36px;
    }
    .bio {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $pc-view) { // mobile
  .maintitle {
    height: 200px;
  }
  .profile {
    margin-top: -70px;
    
    .image {
      border-radius: 70px;
      width: 140px;
      height: 140px;
    }
    .name {
      font-size: 28px;
    }
    .bio {
      font-size: 14px;
    }
  }
}

.sitesearch {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  input {
    outline: none;
    margin-bottom: 10px;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box; // -webkit-box-siing
    font-family: inherit;
    font-size: 80%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }
  
  
  input[type=search] {
    background: rgba(1, 1, 1, 0.452) url("/static/img/search-3-16.png") no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 35px;
    width: 55px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  input[type=search]:focus {
    background-image: url("/static/img/search-13-16.png");
    background-size: 16px;
    background-repeat: no-repeat;
    // background-position: center;
    width: 130px;
    color: #1A1A1A;
    background-color: #fff;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
  
  
  input:-moz-placeholder {
    // color: #999;
    color: rgb(209, 209, 209);
  }
  input::-webkit-input-placeholder {
    color: rgb(209, 209, 209);
  }
}

#searchresult {
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  // border: 1px solid #999;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);

  .resultli {
    margin: 0;
    padding: 8px;
    font-size: 80%;
    list-style-type: none;
    color: #1A1A1A;
    a {
      color: #1A1A1A;
      text-decoration: none;
    }
    a:hover {
      color: #268BD2;
      text-decoration: none;
    }
  }
}