<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <a class="backbutton" href="{{ site.baseurl }}/">&lang;</a>
      {{ content }}

      <div class="writer_info">
        <p>Writer</p>
        <div class="writer">
          <div class="image"></div>
          <div class="info">
            <h6 class="name">{{ site.profile_name }}</h6>
            <p class="bio">{{ site.profile_bio }}</p>
            <div class="social">
              <a class="infoicon github" href="https://github.com/leesungbin/"></a>
              <a class="infoicon insta" href="https://www.instagram.com/__lsb9__/"></a>
              <a class="infoicon gmail" href="mailto: lsb918@gmail.com"></a>
            </div>
          </div>
        </div>
      </div>

      <div id="disqus_thread"></div>
    </div>
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://lsb918.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </body>
</html>