---
layout: detail
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<aside class="related">
  {% if site.related_posts != empty %}
    <h3>Related posts</h3>
    <ul id="related-posts">
    {% comment %} jquery로 유사도 비교하여 넣기 {% endcomment %}
    </ul>
  {% endif %}

  <h3>Tags</h3>
  <div class="tags">
    {% for tag in page.categories %}
      <div class="tag">
      {{ tag }}
      </div>
    {% endfor %}
  </div>
</aside>
<script src="{{ site.baseurl }}/static/js/relatedMatcher.js"></script>