---
layout: detail
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul id="related-posts">
  {% comment %} jquery로 유사도 비교하여 넣기 {% endcomment %}
  </ul>
</aside>
{% endif %}

<script src="{{ site.baseurl }}/static/js/relatedMatcher.js"></script>